.form-group {
  color: #ffebd9;
}

button {
  color: 8d6262;
  background-color: #ffebd9;
  border-radius: 5px;
  cursor: pointer;
}

#contact-form {
  background-color: #8d6262;
  padding: 20%;
  margin: 10%;
}

/* 
#393232
#4d4545
brunrosa 8d6262
rouge ed8d8d
puder f3d4d4
beige ffebd9 */
