<!DOCTYPE html>
<html lang="sv-se">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:regular,bold%7CPermanent+Marker&display=swap" 
    rel="stylesheet">
    <script src="https://kit.fontawesome.com/057f51869a.js" crossorigin="anonymous"></script>
   
    <title>Fjällvandra i Sverige med guide</title>
    <meta name = ”description” content = "Hyr kunnig guide med expertkunskaper till din vandring i de svenska fjällen">
</head>

<body id="top">
  <header>
      <nav class="navbar">
       <a href="#top" class="logo">
            <i class="fas fa-mountain"></i>
        </a>

        <ul class="nav-links">
            <li class="nav-item"><a href="#gallery">Bildgalleri</a></li>
            <li class="nav-item"><a href="#contact">Kontakt</a></li>
        </ul>
      </nav>

      <img src="Kebnekaise-dal-berg.jpg" alt="Vandrare på väg till Kebnekaise" id="topImage"> 
      
      <h1 class="rubrik">Vandra i de svenska fjällen!</h1>
  </header>

<main>
  <article class = "intro">
    <h2 class = "hiddenHeader">Vandra säkert</h2>
    <p>Få ögonblick slår att vakna vid en fjällbäck eller en tjärn, lyssna till porlandet 
      och se ut över fjälltopparna medan dagen sakta gryr. Samtidigt är svenska fjällen en 
      nyckfull plats; att fjällvandra på egen hand utan full koll på hur man hanterar det 
      oförutsägbara, är sällan en god idé. 
    </p>
    <p>
      Här har Fjällsäkerhetsrådet samlat <a href="http://www.fjallsakerhetsradet.se/forberedelser/praktiska-tips-for-en-tryggare-fjallvistelse/6-tips-for-en-trygg-sommarfjalltur/"> 
      tips</a> för sommarfjällsturen som du kan ha nytta av, om du vandrar på egen hand eller om du vandrar med guide!
    </p>
    <br></article>

  <article>
    <h3>Vandra med Guide</h3>
    <p> Saknar du de kunskaper som behövs för att ge dig ut på fjället på egen hand? 
      Eller vill du kanske krydda din nästa vandringsupplevelse med fördjupade kunskaper 
      och trevligt sällskap?  Vi följer med både nybörjare och den mer erfarna vandraren som 
      vill upptäcka nya smultronställen och samla in ny kunskap. Vi erbjuder guidade turer till:
    
      <ul class="ul">
        <li>Kungsleden</li>
        <li>Kebnekaise</li>
        <li>Jämtlandstriangeln</li>
        <li>Abisko med omnejd</li>
        <li>Grövelsjön</li>
      </ul>
    </article> 
  
  <aside id="gallery">
      <h3 class = "hiddenHeader">Bildgalleri</h3>
      <img src="Kebnekaise-dal.jpg" alt="Dalen vid Kebnekaise"> 
      <img src="Grövelsjön.jpg" alt="Grövelsjön"> 
      <img src="Kungsleden-tälta.jpg" alt="Tältplats en dimmig dag på Kungsleden"> 
      <img src="Kebnekaise-sydtopp.jpg" alt="Sydtoppen på Kebnekaise"> 
      <img src="Jämtlandstriangeln-blommor.jpg" alt="Blommor och berg på Jämtlandstriangeln"> 
      <img src="Kungsleden-utsikt.jpg" alt="Utsikt längs Kungsleden"> 
  </aside>

  <section id="contact">
    <h3>Jag vill vandra med guide</h3>

    <p>Fyll i din kontaktinformation så hör vi av oss!</p>

    <form id="formInfo" name="formInfo" action="#">

    <label for="fNamn">Förnamn:</label>	
    <input id="fNamn" type="text" placeholder="Johanna">

    <label for="eNamn">Efternamn:</label> 
    <input id="eNamn" type="text" placeholder="Johansson">
  
    <label for="mail">Mejladress:</label>
    <input id="mail" type="email" placeholder="namn@mejl.se">
  
    <input type="submit" name="Skicka">
    </form>
    <div id = "message"> </div>
  </section>

</main>

<footer>
  <section>
    <h5>Ett extra tack till: Anna Hilding för bilderna och fontawsome.com för loggan.</h5>
  </section>
</footer>

<script src="main.js"></script>
</body>
</html>